<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .container {
            padding: 5px 10px;
            border: 1px solid black;
            min-height: 120px;
            width: 600px;
            margin: auto;
        }

        section {
            padding-bottom: 10px;
            border-bottom: 1px solid grey;
        }

        header h1 {
            text-align: center;
            padding-bottom: 30px;
        }
    </style>
    <title>MC2 to MC3 data convertor</title>

    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <header>
            <h1><a href="{{ path('home') }}">MC2 data convertor</a></h1>
        </header>

        <section>
            <h2>All process</h2>
            <button><a href="{{ path('import_all') }}">Go!</a></button>
        </section>

        <section>
            <h2>Initiate the project</h2>
            <button><a href="{{ path('import_init') }}">Initialize</a></button>
        </section>

        <section>
            <h2>Create the model and import data</h2>
            <button><a href="{{ path('import_creation') }}">Create</a></button>
        </section>

        <section>
            <h2>Clean data</h2>
            <button><a href="{{ path('import_clean') }}">Clean</a></button>
        </section>

        <section>
            <h2>Import categories</h2>
            <a href="{{ path('import_categories') }}">Import Catégories</a>
        </section>

        <section>
            <h2>Import attributes</h2>
            <a href="{{ path('import_attributes') }}">Import Attributes</a>
        </section>

        <section>
            <h2>Import Films</h2>
            <a href="{{ path('import_films') }}">Import Films</a>
        </section>

        <section>
            <h2>Import Numbers</h2>
            <a href="{{ path('import_numbers') }}">Import Numbers</a>
        </section>

        <section>
            <h2>Import Songs</h2>
            <a href="{{ path('import_songs') }}">Import Songs</a>
        </section>

        <section>
            <h2>Import Persons</h2>
{#            <a href="{{ path('import_categories') }}">Import Catégories</a>#}
        </section>

        <section>
            <h2>Import Distributor</h2>
        </section>

        <section>
            <h2>Import Studios</h2>
        </section>

        <section>
            <h2>Import Users</h2>
        </section>
    </div>

</head>
<body>

</body>
</html>